<div class="dynamo-group">
{{#each}}
	{{dynamo-details dynamo=this tagName='div' classNames='dynamo'}}
{{/each}}
</div>

<hr>
<div class='row'>
  {{!-- <p class="pull-right">{{#link-to 'dynamo.new'}}New Dynamo{{/link-to}}</p> --}}
</div>