<div class="dynamo-group row">
{{#each}}
	{{dynamo-details dynamo=this tagName='div' classNames='dynamo'}}
{{/each}}
</div>

<hr>
<div class='row'>
  <p class="pull-right">{{#link-to 'new'}}New Dynamo{{/link-to}}</p>
</div>